* {
    padding: 0;
    margin: 0;
}

.heading{
    background-color: rgb(60, 60, 199);
    padding-top: 2%;
    padding-bottom: 2%;
    position: sticky;
    width: 100%;
    height: 16.5%;
    margin-bottom: 5%;
    border: solid 5px black;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    display: flex;
    align-items: center;
}

.heading h1 {
    font-family:  'Roboto Slab', serif;
    color: white;
}

.heading img {
    float: left;
    margin-top: -1%;
}

.group_photo {
    margin-left: 20%;
}

/* v buttons v */

.nav {
    display: flex;
}

.nav * {
    padding: 0;
    float: left;
    align-items: center;
    margin-top: auto;
}

.home img {
    width: 50%;
}

.twenty_season img {
    width: 50%;
}

.past_seasons img {
    width: 50%;
}

.news img {
    width: 50%;
}

.scholarship img {
    width: 50%;
}

.directors img {
    width: 50%;
}

.directorspage p{
    /* add styles here for director's page */
    font-family: 'Roboto Slab', serif;
    font-size: 12pt;
}

/* ^ buttons ^ */

.info * {
    display:inline-block;
    color: white;
    background-color: rgb(60, 60, 199);
    padding-top: 5%;
    font-family:  'Arimo', sans-serif;
    margin-top: 0;
}

.info {
    padding-bottom: 10%;
}

body {
    background-color:rgb(187, 181, 181);
}

.contact {
    width:32.9%;
    float:left;
    padding-bottom: 16.5%;
    border: solid 5px gold;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

.contact p {
    margin-left: 5%;
}

.navigate {
    width:32.9%;
    float:left;
    padding-bottom: 1.1%;
    border: solid 5px gold;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding-right: 0.009%;
}

.navigate * {
    margin-left: 40%;
}

.social {
    width:33.3%;
    float:right;
    padding-bottom: 6.3%;
    padding-left: 0.89%;
    border: solid 5px gold;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.social p {
    margin-left: 45%;
}

.social a {
    margin-left: 50%;
}

.brooke {
    margin-left: 10%;
}

.sponsors {
    background-color: black;
    padding: 0;
    border-top: solid 5px gold;
}

.sponsorA {
    margin-bottom: 0;
    padding: 0;
    padding-right: 5%;
    padding-left: 4.5%;
}

.sponsorA img {
    float: left;
    padding: 0;
    margin-top: 3%;
    padding-right: 7%;
}

.sponsorB img {
    float: left;
    padding: 0;
    padding-right: 7%;
    margin-top: 1%;
}

.sponsorC img {
    float: left;
    padding: 0;
    padding-right: 12%;
}

.sponsorD img {
    padding-bottom: 4%;
    margin-top: 3%;
}

.isaac_desc {
    margin-left: 25%;
    margin-top: 4%;
}

.season_pics_twenty img {
    width: 70%;
}

.season_pics_twenty {
    padding: 0;
    margin-left: 23%;
}

.centered_header {
    text-align: center;
}

li {
    margin-bottom: 1%;
}

.names {
    margin-right: 30%;
}

.group_photo {
    margin-left: 25%;
}

table {
    border-collapse: collapse;
    background-color:rgb(60, 60, 199)
}

table img {
    width: 40%;
}

table td {
    border: solid 4px gold;
    border-right: 0;
    border-left: 0;
    text-align: center;
    color:white;
}

.cierramark {
    width: 100%;
}

.cierramark img {
    width: 20%;
}

.past_info {
    padding: 0;
}

.past_info h1 {
    text-align: center;
}

.past_info img {
    margin-left: 20%;
}

.past_info ul {
    text-align: center;
}
